* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vazirmatn', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #2b2392;
    color: #fff;
    padding: 1rem 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #e3e2ff;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 5px;
    font-size: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

nav a {
    color: white;
    text-decoration: none;
}


/* استایل‌های صفحه احراز هویت (Auth) */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.auth-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.auth-card h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn-submit {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.alert-success {
    background-color: #ccf6ce;
    color: #39b80d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.alert-danger ul {
    margin: 0;
    padding-right: 20px;
}

.auth-footer-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.auth-footer-text a {
    color: #4f46e5;
    font-weight: 700;
    text-decoration: none;
}

.auth-footer-text a:hover {
    text-decoration: underline;
}
